@import "000_vars.scss";

#maintoggle {
  display: none;
}

header#top {
    border:none;
    padding:0;

    h1 a {
        color: white;
        margin-left: 10px;
    }

  menu {
    background: $menu_color;
    padding: 6px 20px;

    form {
      display: inline-block;

      input {
        width: 9.5em;
      }
    }

    li {
      margin: 0;
      padding: 0;
    }

    li a {
        padding: 20px 10px;
        color: white;
    }
  }

  menu.main {
    margin-top: 0;
    background: none;

    li.current a {
      background: $menu_color;
      font-weight: bold;
    }
  }
}

#nav {
    background: $primary_color;
    border: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;



}

#bottom-nav {
    background: $menu_color;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    menu {
        background: $menu_color;
    }
}
