#search-box button {
	margin-left:-30px;
	border:none;
	background:none;
}

div#page aside#sidebar input[type=text] {
	width:11em;
}

#mode-box select {
	width:11em;
}


#edit-dialog button {
	margin-top: 1em;
}

#edit button[id*="related"] {
	margin-top: 1em;
}

#quick-edit-div .btn {
	margin-top:1em;
}
