#search-box button {
	margin-left:-30px;
	border:none;
	background:none;
}

div#page aside#sidebar input[type=text] {
	width:11em;
}

#mode-box select {
	width:11em;
}


#edit-dialog button {
	margin-top: 1em;
}

#edit button[id*="related"] {
	margin-top: 1em;
}

#quick-edit-div .btn {
	margin-top:1em;
}


div.ui-dialog {
	border:lightgray solid 1px;
	padding: 0;
}


div.ui-dialog-titlebar {
	border:none;
	border-radius:0;
	background:lightgray;

}

.ui-button {
	background:none !important;
	border:none !important;
}

.bootstrap-tagsinput {
	height:10em;
	width:100%
}

.bootstrap-tagsinput input {
	width:auto !important;
}

.bootstrap-tagsinput .tag {
    padding: 6px;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 5px;
}

li[class^="category-"] {
    margin-bottom: .5em;
}

li[class^="category-"] .label {
    color: white;
    padding:.3em .7em .4em;
}

#tag-list ul {
    margin-top: .5em;
}
