#search-box {

    button {
	    margin-left:-30px;
	    border:none;
	    background:none;
    }

    input[name="tags"] {
        height: 30px;
        border: none;
        border-bottom: 1px solid gray;

    }
}

div#page aside#sidebar input[type=text] {
	width:11em;
}

#mode-box select {
	width:11em;
}


#edit-dialog button {
	margin-top: 1em;
}

#edit button[id*="related"] {
	margin-top: 1em;
}

#quick-edit-div .btn {
	margin-top:1em;
}


div.ui-dialog {
	border:lightgray solid 1px;
	padding: 0;
}


div.ui-dialog-titlebar {
	border:none;
	border-radius:0;
	background:lightgray;

}

.ui-button {
	background:none !important;
	border:none !important;
}

#edit-dialog .tokenfield {
	min-height:10em;
	width:100% !important;
}

.token-label {
    max-width: none !important;
}

.bootstrap-tagsinput input {
	width:auto !important;
}

.bootstrap-tagsinput .tag {
    padding: 6px;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 5px;
}

li[class^="category-"] {
    margin-bottom: 4px;
}

li[class^="category-"] .label {
    color: white;
}

#tag-list ul {
    margin-top: 5px;
}

.tag-container {
    display: inline-flex;
    max-width: 175px;
}

.tag-container .label {
    white-space: initial;
    text-align: left;
}


.category-1 .label {
    background: #bc3c39;
}
.category-4 .label {
    background: #52b052;
}
.category-3 .label {
    background: #b637b6;
}

.post-count {
    align-self:center;
    margin-left:5px !important;
}

#expand-search {
    display:block;
    border:none;
    padding:4px 8px 4px 8px;
    margin-top: 4px;
}
